ul{
    list-style: none;
    padding-left: 0px;
}
li{
margin:10px 0;
color:#a7aaa9;
font-weight: 500;
}
.css-f24w39-MuiTypography-root{
    line-height: 100px;
    letter-spacing: 20px;
    color:red;
}
.footer-lists{
    display: flex;
     align-items: center;
      justify-content: space-between;
       text-align: left;
        width: 100%;
}
@media only screen and (max-width: 600px){
	.footer-lists{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}